@model IEnumerable<WebHotel.Models.Booking>
@{
    ViewData["Title"] = "Customer Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Surname
            </th>
            <th>
                Given Name
            </th>
            <th>
                Room ID
            </th>
            <th>
                <a asp-action="CIndex" asp-route-sortorder="@ViewData["NextCheckinOrder"]">
                    Check-in Date
                </a>
            </th>
            <th>
                Check-out Date
            </th>
            <th>
                <a asp-action="CIndex" asp-route-sortorder="@ViewData["NextCostOrder"]">
                    @Html.DisplayNameFor(model => model.Cost)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (ViewBag.User == item.CustomerEmail)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TheCustomer.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheCustomer.GivenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
            }
        </tr>
        }
    </tbody>
</table>
