@model WebHotel.Models.Customer;

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "MyDetailsSuccess";
}

<h2>MyDetailsSuccess</h2>


<h4>Hi, @UserManager.GetUserName(User), your details are updated successfully as follows: </h4>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>
    </dl>
</div>